@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src:url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src:url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  margin: 0;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 23px;
  color: #333333;
  background-color: #ffffff;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Buttons */
.button-small {
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

.button-medium {
  font-family: "PT Sans", sans-serif;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

.button-big {
  font-family: "PT Sans", sans-serif;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

.button-brown {
  color: #ffffff;
  background-color: #756257;
}

.button-blue {
  color: #ffffff;
  background-color: #83B3D3;
}

.button-green {
  color: #ffffff;
  background-color: #7DB54F;
}

.button-dark {
  color:#000000;
  text-decoration: none;
}

.button-light {
  color:#E5E5E5;
  text-decoration: underline;
}

/* Pages */
.page-header {
  color: #000000;
  background-color: #ffffff;
}

.navigation {
  display: flex;
  width: 1060px;
  margin: 0 auto;
}

.navigation-logo {
  width: 140px;
  margin-right: 47px;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 0;
  padding: 0;
  width: 480px;
  list-style-type: none;
}

.navigation-user {
  display: flex;
  align-items: center;
  max-width: 265px;
  margin-left: auto;
}

.navigation-link {
  display: block;
  padding: 20px 17px;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
  color: #000000;
  background-color: #ffffff;
  text-decoration: none;
}

.navigation-container {
  display: flex;
  align-items: center;
}

.navigation-link .favorites-number {
  font-size: 10px;
  line-height: 13px;
  font-weight: 400;
  letter-spacing: -0.1em;
  color: #FFFFFF;
  background-color: #7DB550;
}

.main-container {
  flex-grow: 1;
}

.page-container {
  width: 1200px;
  margin: 0 auto;
}

.title {
  margin: 0;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
}

.banner {
  height: 485px;
  background-color: #314850;
  background-image: url("../images/banner/banner-background.jpg");
  background-repeat: no-repeat;
}

.banner-container {
  width: 458px;
  margin: 0 auto;
  padding-top: 51px;
}

.text-container {
  width: 720px;
  margin: 0 auto;
  text-align: center;
}

/* Advantages */
.sedona-container {
  margin-top: 63px;
  margin-bottom: 80px;
}

.sedona-title {
  margin: 0;
  margin-bottom: 31px;
  font-size: 30px;
  line-height: 36px;
  color: #000000;
  background-color: #ffffff;
  font-weight: 700;
  text-transform: uppercase;
}

.sedona-subtitle {
  margin: 0;
  font-size: 22px;
  line-height: 36px;
  color: #333333;
  background-color: #ffffff;
  font-weight: 400;
}

.advantages-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.advantages-list li:nth-child(odd):not(:first-child) {
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-list li:nth-child(even):not(:nth-child(2)) {
  background-color: rgba(131, 179, 211, 0.2);
}

.advantages-item-main {
	display: flex;
	flex-wrap: wrap;
  background-color: #81b3d2;
}

.white-text {
  color: #ffffff;
  background-color: #83B3D3;
}

.advantages-description-wrapper {
  width: 400px;
  min-height: 384px;
}

.advantages-item-main .advantages-description-container, .advantages-item .advantages-description-container {
  width: 220px;
  margin: 0 auto;
  margin-top: 97px;
}

.advantages-title {
  margin: 0;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
}

.advantages-description {
  margin: 0;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
}

.advantages-item-main .advantages-description:not(:last-child), .advantages-item .advantages-description:not(:last-child) {
  margin-top: 30px;
  margin-bottom: 30px;
}

.advantages-image-wrapper {
  width: 800px;
}

.advantages-image {
  display: block;
  height: 100%
}

.advantages-sublist {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  list-style-type: none;
}

.advantages-sublist li:nth-child(odd) {
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-sublist li:nth-child(even) {
  background-color: #ffffff;
}

.advantages-sublist-item {
  width: 400px;
  min-height: 384px;
  background-repeat: no-repeat;
  background-position: center 95px;
}

.advantages-sublist-item:nth-child(1) {
  background-image: url("../images/advantages/advantages-icon-1.svg");
}

.advantages-sublist-item:nth-child(2) {
  background-image: url("../images/advantages/advantages-icon-2.svg");
}

.advantages-sublist-item:nth-child(3) {
  background-image: url("../images/advantages/advantages-icon-3.svg");
}

.black-text {
  color: #000000;
}

.black-text p {
  color: #333333;
}

.advantages-sublist-item .advantages-description-container {
  width: 250px;
  margin: 0 auto;
  margin-top: 184px;
}

.advantages-sublist-item .advantages-title {
  margin-bottom: 20px;
}

.advantages-item {
  width: 400px;
  min-height: 384px;
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-item:nth-child(even) {
  background-color: rgba(131, 179, 211, 0.2);
}

.advantages-item .advantages-description-container {
  width: 250px;
}

.search-container {
margin-top: 91px;
margin-bottom: 93px;
}

.search-title {
  margin-bottom: 29px;
  color: #000000;
  background-color: #ffffff;
}

.search-description {
  font-size: 22px;
  line-height: 26px;
  color: #333333;
  background-color: #ffffff;
  text-align: center;
}

/* Newsletter */
.newsletter-main {
  min-height: 411px;
  color: #ffffff;
  background-color: #93adba;
  background-image: url("../images/background-newsletter.jpg");
  background-repeat: no-repeat;
}

.newsletter-wrapper {
  width: 800px;
  margin: 0 auto;
  padding: 94px 0;
  text-align: center;
}

.newsletter-container {
  width: 500px;
  margin: 0 auto;
  margin-bottom: 46px;
}

.newsletter-title {
  margin-bottom: 29px;
}

.newsletter-description {
  margin: 0;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
}

.page-footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1060px;
  margin: 40px auto;

}

.footer-social-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  max-width: 200px;
  list-style-type: none;
}

.footer-social-item {
  width: 21px;
  height: 21px;
  margin-right: 29px;
  margin-bottom: 5px;
}

.footer-social-link {
  color: #83B3D3;
  background-color: #ffffff;
  text-decoration: none;
}

.footer-phone {
  font-size: 40px;
  line-height: 40px;
  color: #000000;
  text-align: center;
  text-decoration: none;
}

.inner-header {
  color: #ffffff;
  background-color: #799abd;
  background-image: url("../images/background-catalog.jpg");
  background-repeat: no-repeat;
}

.inner-wrapper {
  margin: 0 auto;
  padding-top: 35px;
  width: 1056px;
}

.inner-header-title {
  margin: 0;
  font-size: 60px;
  line-height: 78px;
}

/* Breadcrumbs */
.breadcrumbs {
  display: flex;
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 21px;
  color: #ffffff;
  list-style-type: none;
}

.breadcrumbs-link {
  margin-right: 26px;
}

.catalog-filter {
  display: flex;
  width: 1057px;
  margin: 0 auto;
}

/* Filter */
.catalog-filter-title {
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
}

.filter-reset {
  font-family: inherit;
  font-size: 18px;
  line-height: 23px;
  color: #ffffff;
  background-color: transparent;
}

.catalog-elements {
  width: 1057px;
  margin: 0 auto;
  margin-top: 50px;
}

.catalog-top-container {
  display: flex;
  margin-bottom: 56px;
}

.search-results-title {
  margin: 0;
  font-size: 30px;
  line-height: 39px;
  color: #000000;
  font-weight: 700;
  text-transform: uppercase;
}

.sorting-container {
  display: flex;
}

.sorting-container .button-small {
  width: 48px;
  height: 48px;
}

/* Element list */
.element-list {
  display: grid;
  grid-template-columns: repeat(3, 340px);
  gap: 10px 18px;
  margin: 0;
  margin-bottom: 34px;
  padding: 0;
  list-style-type: none;
  border-bottom: 1px solid #E5E5E5;
}

.element-card {
  padding: 20px;
}

.element-card-link {
  text-decoration: none;
}

.element-card-image {
  display: block;
  object-fit: cover;
}

.element-card-title {
  font-size: 24px;
  line-height: 31px;
  color: #000000;
  margin: 0;
  margin-top: 16px;
  margin-bottom: 16px;
}

.element-card-content {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 16px 26px;
  justify-items: start;
  margin-bottom: 16px;
}

.element-card-rating {
  display: flex;
}

.element-card-rating-text {
  margin-left: auto;
  font-size: 16px;
  line-height: 21px;
  background-color: #F2F2F2;
  text-transform: uppercase;
}

.pagination-show-more {
  display: block;
  margin: 30px auto;
}

/* Pagination */
.catalog-bottom-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1057px;
  margin: 0 auto;
  padding: 30px 0;
  border-top: 1px solid #E5E5E5;
}

.pagination {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.pagination-item:not(:last-child) {
  margin-right: 8px;
}

.pagination-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 55px;
  height: 55px;
  border-radius: 4px;
}

.pagination-current {
  color:#000000;
  background-color: #F2F2F2;
}

.newsletter-inner .newsletter-wrapper {
  padding-top: 43px;
  padding-bottom: 141px;
}

.newsletter-inner .title {
  margin-bottom: 46px;
  color:#000000;
}
